.col-md-3.text-center.service-item
    .mt-5
        .mb-3
            span.fa.fa-crown
        h3.h4.mb-2 Sturdy Themes
        p.text-muted.mb-0 Our themes are updated regularly to keep them bug free!
