.col-md-4
    .column-content
        div.portfolio-box
            img.img-fluid.fixedSize-600-323-5(alt='...' src='/templates/creative/bootstrap-creative/dist/assets/images/portfolio/thumbnails/1.jpg')

            div.project-desc
                div.project-category.text-white-50 Category
                a.portfolio-link(href='#' title='Project name') Project Name
