.container.px-4.px-md-5.h-100
    .row.gx-4.gx-md-5.h-100.align-items-center.justify-content-center.text-center
        include ../../column/masthead/headline
        include ../../column/masthead/headline-cta
