.col-md-8.text-center
    h2.text-white.mt-0 We've got what you need!
    p.hr-break-light
    p.text-white-75.mb-4
        | Start Bootstrap has everything you need to get your new website up and running in no time! Choose one of our open source, free to download, and easy to use themes! No strings attached!
    a.btn.btn-light.btn-xl(href='#services') Get Started!
