.container.px-4.px-lg-5
    .row
        .col-md-12
            p.small.text-center.text-muted Copyright &copy; !YEAR!&nbsp;- Company Name
    .row
        .col-md-12
            div(data-iwcm-write="!INCLUDE(/components/gdpr/cookie_bar.jsp, showLink=true)!")
                p.text-center
                    a(href="#") Nastavenie cookies