section
    .container.pb-not-container.pb-autoaccordion.md-accordion
        .pb-custom-container
                    .row
                        .col-12
                            h2.text-center.pb-editable Nadpis nad accordionom
        include ../../container/accordion/accordion-open
        include ../../container/accordion/accordion
