.col-md-6.text-center
    h2.mt-0 Let&apos;s Get In Touch!
    p.hr-break
    p.text-muted.mb-5
        | Ready to start your next project with us? Send us a&nbsp;messages and we will get back to you as soon as possible!
