.container.px-4.px-md-5
    .row.gx-4.gx-lg-5.justify-content-center
        include ../../column/form/headline
    .row.gx-4.gx-lg-5.justify-content-center.mb-5
        include ../../column/form/form
    .row.gx-4.gx-lg-5.justify-content-center
        include ../../column/form/foot
