.md-accordion-item.pb-custom-container.open
    .md-accordion-header
        a.accordionLink(data-toggle='collapse')
            .pb-editable
                p Nadpis accordionu
    .collapse(style="display: block")
        .md-accordion-body
            .row
                include ../../column/accordion/item