.md-accordion-item.pb-custom-container
    .md-accordion-header
        a.accordionLink(data-toggle='collapse')
            .pb-editable
                p Nadpis accordionu
    .collapse
        .md-accordion-body
            .row
                include ../../column/accordion/item