.col-md-8.align-self-baseline
    p.text-white-75.mb-5
        | Start Bootstrap can help you build better websites using the Bootstrap framework! Just download a theme and start customizing, no strings attached!
    a.btn.btn-primary.btn-xl(href='#about') Find Out More
